<%= error_messages_for 'news' %>

<!--[form:news]-->
<p><label for="news_title">Title</label><br/>
<%= text_field 'news', 'title'  %></p>

<p><label for="news_news_text">News text</label><br/>
<%= text_area 'news', 'news_text'  %></p>

<!--[eoform:news]-->

