<% for column in NewsComment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @news_comment.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @news_comment %> |
<%= link_to 'Back', :action => 'list' %>
